<footer>
  <div id="social-media">
    <h2>Share with your friends!</h2>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://codejacks.github.io/DevArena" target="_blank">Share on Facebook</a>
    <a href="https://twitter.com/intent/tweet?url=https://codejacks.github.io/DevArena&text=Check%20out%20this%20awesome%20game%20website!" target="_blank">Share on Twitter</a>
    <a href="https://bsky.app/intent/compose?url=https://codejacks.github.io/DevArena&text=Check%20out%20this%20awesome%20game%20website!" target="_blank">Share on BSKY</a>
  </div>
</footer>
