<nav class="navbar">
  <a href="/">Home</a>
  <a href="/categories/ai">AI</a>
  <a href="/categories/adventure">Adventure</a>
  <a href="/categories/clicking">Clicking/Button</a>
  <a href="/categories/shooting">Shooting</a>
  <a href="/categories/wasd">WASD</a>
  <a href="/categories/sports">Sports</a>
  <a href="/form">Suggestion form</a>
  <a href="/about-us">About Us</a>
</nav>
