<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="https://codejacks.github.io/GameIsle/images/dbysagames.png" type="png">
    <link rel="stylesheet" href="https://codejacks.github.io/GameIsle/CSS/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="GameIsle, free games, no ads games, unblocked games, adventure games, clicking games, button games, shooting games, WASD games, sports games, online games, play games, game categories, leaderboard, achievements, rate and review games, personal assistant AI, Microsoft Copilot Studio">
    <title>Personal Assistant AI</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <a href="https://codejacks.github.io/GameIsle/games/chatbot.html" class="custom-button">Chatbot. NO LIMIT AT ALL!! FREE. </a>
    <a href="https://codejacks.github.io/GameIsle/games/imagegen.html" class="custom-button">IMAGE GENERATOR FREE. NO LIMITS.</a>
    <%- include('../partials/footer') %>
  </body>
</html>
