<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="GameIsle, free games, no ads games, unblocked games, adventure games, clicking games, button games, shooting games, WASD games, sports games, online games, play games, game categories, leaderboard, achievements, rate and review games, personal assistant AI, Microsoft Copilot Studio">
    <title>Basket Random</title>
    <link rel="manifest" href="app.webmanifest">
    <link rel="icon" href="../images/dbysagames.png" type="png">
  </head>
  <body>
    <embed src="https://tylerpalko.github.io/gamehub/basketrandom/" style="width:1360px; height: 750px;">
  </body>
</html>
